@import "_variables.scss";
@import "mixin.scss";
@import "media.scss";
@import "_section.scss";
@import "_section2.scss";
@import "nav.scss";
@import "input.scss";
@import "footer.scss";
@import "hotel.scss";
@import "restauran.scss";
@import "theRooms.scss";
@import "contact.scss";

* {
    margin: 0px;
    padding: 0px;
}
@-ms-viewport{
    width: device-width;
  }
