.containerFooter {
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.5);
    picture {
            display: flex;
            justify-content: center;
            img {
                width: 20px;
                padding: 10px;
            }
    }
    .end {
        text-align: center;
        padding:20px
    }
}
.containerInfo {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    .info {
        text-align: center;
        padding-top: 15px;
        .style {
            font-family: $font-style;
            display: flex;
            justify-content: center;
            }
        .border {
            position: relative;
            &::after{
                position: absolute;
                content: "";
                background-color: black;
                display: block;
                width: 77px;
                height: 1px;
                bottom: 0;
            }
        }
        .border1 {
            position: relative;
            &::after{
                position: absolute;
                content: "";
                background-color: black;
                display: block;
                width: 43px;
                height: 1px;
                bottom: 0;
            }
        }
        .border2 {
            position: relative;
            &::after{
                position: absolute;
                content: "";
                background-color: black;
                display: block;
                width: 49px;
                height: 1px;
                bottom: 0;
            }
        }
    }
}
