.containerHotel {
    width: 100%;
    background-color: rgba(255,255,255,.8);
    margin-bottom: 41px;
    .contentHotel {
        @include containerInside;
    }
    .nameFont {
        @include textStyle;
    }
    .dots1 {
        @include dotsAfterTextStyle;
        width: 63%;
        
    }
    
    .containerTxtImg {
        display: flex;
        padding-top: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
            .textStyle {
                padding-bottom: 55px;
                font-family:$font-hotelpage;
                max-width: 330px;
                font-size: 14px;
                text-align: center;
        }
    }
    .dots2 {
        border-top: $dots;
        width: 100%;
    }
    .imgbottom {
        @include imgBottom;
            .swiper-slide {
                display: flex;
                justify-content: center;
                img {
                    width: 200px;
                    height: 130px;
                    margin: 0px;
                    }
                }
        }
    
}
.effect:hover {
    opacity: 0.5;
    transition: 0.4s ease-in-out;
}