//input media // 

@media (max-width:960px) {
    .inputs {
        flex-direction: column;
        .btn {
            justify-content: center;
        }
        label {
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
}
@media (max-width:600px) {
    .containerOpacity {
        margin-bottom: 50px;
        .inputs {
        flex-direction: column;
            &__Check {
                label {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
            &__Numb {
                label {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
        }
        .btn {
        align-self: center;

        }
    }
    
}

// footer media //
@media (max-width:800px) {
    .containerInfo {
        flex-direction: column;
    }
}

//hotel page //
@media (max-width:820px) {
    .containerHotel {
        .contentHotel {
            .nameFont {
                flex-direction: column;
                align-items: center;
            }
            .containerTxtImg {
                justify-content: center;
            }
            .imgbottom {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media (max-width:600px) {
    .containerHotel {
        .contentHotel {
            .nameFont {
                flex-direction: column;
                align-items: center;
            }
            .containerTxtImg {
                flex-direction: column;
                display: flex;
                .textStyle {
                    align-self: center;
                    text-align: center;
                }
                .rightImg {
                    align-self: center;
                    img {
                        width: 370px;
                        margin-bottom: 10px;
                    }
                }
            }
            .imgbottom {
                flex-wrap: wrap;
                .imgsize {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (max-width:320px) , (max-width:390px) {
    .containerHotel {
        .contentHotel {
            .containerTxtImg {
                .rightImg {
                    align-self: center;
                    img {
                        width: 280px;
                    }
                }
            }
            .imgbottom {
                justify-content: center;
                padding-bottom: 5px;
            }
        }
    }
}

// the rooms page // 
@media (max-width:890px) {
  .container {
      .containerRoom {
        .contentRoom {
            .nameFont {
                flex-direction: column;
                align-items: center;
                }
            }
            .containerTxt {
                text-align: center;
            }
        }
    }
} 
@media (max-width:320px), (max-width:390px), (max-width:440px) {
    .containerRoom {
        .contentRoom {
            .roomsTag {
                text-align: center;
            }
            .roomInfo {
                justify-content: center;
                .roomPrice {
                    padding-top: 20px;
                }
            }
        }
    }  
}

//restaurant page//
@media (max-width:820px) {
    .container {
        .containerRest {
            .contentRest {
                .nameFont {
                    flex-direction: column;
                    align-items: center;
                }
                .containerTxt {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                .imgbottom {
                    flex-direction: column;
                    align-items: center;
                    .imgsize {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}

//contact// 

@media (max-width:860px){
    .container {
        .containerCont {
            .contentCont {
                .nameFont {
                    flex-direction: column;
                    align-items: center;
                }
                .containerPar {
                    flex-direction: column;
                    align-items: center;
                    .lefttxt {
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        padding-right: 0px;
                        border-right: 0px;
                        border-bottom: 1px dashed darkgrey;
                        text-align: center;
                    }
                    .righttxt {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        &__address {
                            padding-right: 0px;
                            border-right: 0px;
                            padding-bottom: 10px;
                            margin-bottom: 15px;
                            border-bottom: 1px dashed darkgrey;
                        }
                    }
                }
                .form--map {
                    flex-direction: column;
                    align-items: center;
                    form {
                        width: 300px;
                    }
                }
            }
        }
    }
    
}

    

    