//input media // 

@media (max-width:960px) {
    .inputs {
        flex-direction: column;
        .btn {
            justify-content: center;
        }
        label {
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
}
@media (max-width:600px) {
    .containerOpacity {
        margin-bottom: 50px;
        .inputs {
        flex-direction: column;
            &__Check {
                label {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
            &__Numb {
                label {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
        }
        .btn {
        align-self: center;

        }
    }
    
}

// footer media //
@media (max-width:600px) {
    .containerInfo {
        flex-direction: column;
    }
}