@mixin hero {
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
@mixin container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}
@mixin containerInside {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}