// background image //
@mixin hero {
    background-image: url(../images/bg-66.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
// main container //
@mixin container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}
//container inside overlay //
@mixin containerInside {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
}
// white overlay with opacity //
@mixin overlay {
    width: 100%;
    background-color: rgba(255,255,255,.8);
    margin-bottom: 41px;
}
// paragraph style in every page // 

@mixin textStyle {
        font-family: $font-style;
        font-size: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
}
// dots after text with main font //

@mixin dotsAfterTextStyle {
        border-top: 2px dotted darkgrey;
}


// restaurant and hotel pages //

@mixin imgBottom {
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
}