.containerMenu {
    padding-top: 20px;
    padding-bottom: 80px;
        .dekstop-menu{
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            a{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                padding:10px;
                &:hover {
                    color:rgb(166, 229, 248);
                    transition: 0.4s ease-in-out;
                }
            }
    }
}
.containerText {
    padding-bottom: 80px;
    .fontText {
        font-size: 100px;
        text-align: center;
    }
}

//burger menu // 

.mobile-menu {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    background:rgb(42, 42, 42);
    transition: 0.7s ease-in-out;
    li {
        padding: 10px;
        list-style-type: none;
        text-align: center;
        &::after {
            content: '';
            border-bottom: 1px solid white;
        }
        a {
            text-decoration: none;
            color: white;
            font-family: $font-hotelpage;
        }
    }
}
.checkbox {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.magic-label{
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.7s ease-in-out;
    cursor: pointer;
    z-index: 22;
    width: 25px;
    height: 25px;
    padding: 20px;
}

.magic-label .menu-close {
    display: none;
  }
  .checkbox:checked + .magic-label .menu-open {
    display: none;
  }
  .checkbox:checked + .magic-label .menu-close {
    display: block;
  }
  .checkbox:checked ~ .mobile-menu {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width:680px) {
    .magic-label {
        display: flex;
  
    }
  }
  @media (min-width:680px) {
    .menu-open {
      display: none;
    }
  }

  @media (max-width:680px) {
    .container {
        padding: 0;
        .containerMenu {
            .dekstop-menu {
                display: none;
            }
        }    
    }
  }