.hero {
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden; }

.containerLogo {
  display: flex;
  justify-content: center; }
  .containerLogo .logo {
    width: 136px;
    height: 130px;
    background-color: white;
    text-align: center; }
    .containerLogo .logo__font5 {
      font-family: "Niconne", cursive;
      color: black;
      font-size: 1.5em;
      padding-top: 15px; }
      .containerLogo .logo__font5::after {
        position: relative;
        content: "";
        background-color: black;
        display: block;
        width: 55px;
        height: 1px;
        left: 40px; }
    .containerLogo .logo a {
      text-decoration: none; }
    .containerLogo .logo .font6 {
      color: black;
      font-size: 1em;
      padding-top: 10px; }

.containerText {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif; }

@media (max-width: 550px) {
  .container .containerText .fontText {
    font-size: 70px; } }

.containerMenu {
  padding-top: 20px;
  padding-bottom: 80px; }
  .containerMenu .dekstop-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none; }
    .containerMenu .dekstop-menu a {
      text-decoration: none;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      padding: 10px; }
      .containerMenu .dekstop-menu a:hover {
        color: #a6e5f8;
        transition: 0.4s ease-in-out; }

.containerText {
  padding-bottom: 80px; }
  .containerText .fontText {
    font-size: 100px;
    text-align: center; }

.mobile-menu {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background: #2a2a2a;
  transition: 0.7s ease-in-out; }
  .mobile-menu li {
    padding: 10px;
    list-style-type: none;
    text-align: center; }
    .mobile-menu li::after {
      content: '';
      border-bottom: 1px solid white; }
    .mobile-menu li a {
      text-decoration: none;
      color: white;
      font-family: "Open Sans", sans-serif; }

.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  display: none; }

.magic-label {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.7s ease-in-out;
  cursor: pointer;
  z-index: 22;
  width: 25px;
  height: 25px;
  padding: 20px; }

.magic-label .menu-close {
  display: none; }

.checkbox:checked + .magic-label .menu-open {
  display: none; }

.checkbox:checked + .magic-label .menu-close {
  display: block; }

.checkbox:checked ~ .mobile-menu {
  opacity: 1;
  visibility: visible; }

@media (min-width: 680px) {
  .magic-label {
    display: flex; } }

@media (min-width: 680px) {
  .menu-open {
    display: none; } }

@media (max-width: 680px) {
  .container {
    padding: 0; }
    .container .containerMenu .dekstop-menu {
      display: none; } }

.containerOpacity {
  width: 100%;
  margin-bottom: 250px; }
  .containerOpacity .inputs {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); }
    .containerOpacity .inputs__Check {
      display: flex;
      flex-direction: column; }
      .containerOpacity .inputs__Check input {
        border: 0px; }
      .containerOpacity .inputs__Check input[type=text] {
        height: 23px;
        padding-left: 10px; }
      .containerOpacity .inputs__Check label {
        font-family: "Open Sans", sans-serif; }
    .containerOpacity .inputs__Numb {
      display: flex;
      flex-direction: column; }
      .containerOpacity .inputs__Numb input {
        border: 0px; }
      .containerOpacity .inputs__Numb input[type=number] {
        height: 23px;
        padding-left: 10px; }
      .containerOpacity .inputs__Numb label {
        font-family: "Open Sans", sans-serif; }
    .containerOpacity .inputs .btn {
      display: flex; }
      .containerOpacity .inputs .btn button {
        margin-top: 18px;
        color: white;
        background-color: #069ec0;
        border: 0px;
        width: 160px;
        cursor: pointer; }

@media (max-width: 600px) {
  .containerOpacity {
    margin-bottom: 50px; }
    .containerOpacity .inputs {
      flex-direction: column; }
      .containerOpacity .inputs__Check label {
        padding-bottom: 10px;
        padding-top: 10px; }
      .containerOpacity .inputs__Numb label {
        padding-bottom: 10px;
        padding-top: 10px; }
    .containerOpacity .btn {
      align-self: center; } }

.containerFooter {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5); }
  .containerFooter picture {
    display: flex;
    justify-content: center; }
    .containerFooter picture img {
      width: 20px;
      padding: 10px; }
  .containerFooter .end {
    text-align: center;
    padding: 20px; }

.containerInfo {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 20px; }
  .containerInfo .info {
    text-align: center;
    padding-top: 15px; }
    .containerInfo .info .style {
      font-family: "Niconne", cursive; }
    .containerInfo .info .border::after {
      position: relative;
      content: "";
      background-color: black;
      display: block;
      width: 77px;
      height: 1px;
      left: 12px; }
    .containerInfo .info .border1::after {
      position: relative;
      content: "";
      background-color: black;
      display: block;
      width: 43px;
      height: 1px;
      left: 50px; }
    .containerInfo .info .border2::after {
      position: relative;
      content: "";
      background-color: black;
      display: block;
      width: 49px;
      height: 1px;
      left: 32px; }

@media (max-width: 600px) {
  .containerInfo {
    flex-direction: column; }
    .containerInfo .info .border::after {
      left: 122px; }
    .containerInfo .info .border1::after {
      left: 139px; }
    .containerInfo .info .border2::after {
      left: 136px; } }

.containerHotel {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 41px; }
  .containerHotel .contentHotel {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px; }
  .containerHotel .nameFont {
    font-family: "Niconne", cursive;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
  .containerHotel .dots1 {
    border-top: 2px dotted darkgrey;
    width: 63%; }
  .containerHotel .containerTxtImg {
    display: flex;
    padding-top: 20px;
    justify-content: space-between; }
    .containerHotel .containerTxtImg .textStyle {
      padding-bottom: 55px;
      font-family: "Open Sans", sans-serif;
      width: 330px;
      font-size: 14px; }
  .containerHotel .dots2 {
    border-top: 2px dotted darkgrey;
    width: 100%; }
  .containerHotel .imgbottom {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between; }
    .containerHotel .imgbottom .imgsize {
      width: 185px;
      height: 135px;
      cursor: pointer; }

.effect:hover {
  opacity: 0.5;
  transition: 0.4s ease-in-out; }

.containerRest {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 41px; }
  .containerRest .contentRest {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px; }
    .containerRest .contentRest .nameFont {
      font-family: "Niconne", cursive;
      font-size: 40px;
      padding-top: 40px;
      padding-bottom: 20px;
      display: flex;
      align-items: baseline;
      justify-content: space-between; }
    .containerRest .contentRest .dots1 {
      border-top: 2px dotted darkgrey;
      width: 63%; }
    .containerRest .contentRest .containerTxt {
      display: flex;
      justify-content: space-between; }
      .containerRest .contentRest .containerTxt .textStyle {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        width: 350px;
        padding-bottom: 55px; }
    .containerRest .contentRest .dots2 {
      border-top: 2px dotted darkgrey;
      width: 100%; }
    .containerRest .contentRest .imgbottom {
      padding-top: 30px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer; }
      .containerRest .contentRest .imgbottom .imgsize {
        width: 185px;
        height: 135px; }
      .containerRest .contentRest .imgbottom picture {
        position: relative;
        display: flex; }
        .containerRest .contentRest .imgbottom picture .hovertxt {
          position: absolute;
          opacity: 0;
          color: white;
          font-family: "Niconne", cursive;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          transition: 0.4s ease-in-out; }
      .containerRest .contentRest .imgbottom picture:hover .hovertxt {
        opacity: 1; }

.containerRest {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 41px; }
  .containerRest .contentRest {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px; }
    .containerRest .contentRest .nameFont {
      font-family: "Niconne", cursive;
      font-size: 40px;
      padding-top: 40px;
      padding-bottom: 20px;
      display: flex;
      align-items: baseline;
      justify-content: space-between; }
    .containerRest .contentRest .dots1room {
      border-top: 2px dotted darkgrey;
      width: 73%; }
    .containerRest .contentRest .containerTxt .textStyle {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      padding-bottom: 35px;
      width: 100%; }
  .containerRest .roomsTag {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    padding-bottom: 15px; }
  .containerRest .lineBlue {
    border: 1px solid #51d6f3;
    width: 100%; }
    .containerRest .lineBlue__padd {
      margin-bottom: 5px; }
  .containerRest .padding--pic img {
    padding-top: 5px; }
  .containerRest .roomInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px; }
    .containerRest .roomInfo .roomName__style {
      width: 380px; }
      .containerRest .roomInfo .roomName__style p, .containerRest .roomInfo .roomName__style li {
        padding: 7px;
        font-family: "Open Sans", sans-serif; }
      .containerRest .roomInfo .roomName__style ul {
        margin-left: 17px;
        font-size: 12px; }
      .containerRest .roomInfo .roomName__style .bigtxt {
        font-size: 20px; }
      .containerRest .roomInfo .roomName__style .smalltxt {
        font-size: 12px; }
      .containerRest .roomInfo .roomName__style img {
        width: 25px;
        height: 25px;
        padding-right: 7px; }
    .containerRest .roomInfo .roomPrice {
      align-self: center; }
      .containerRest .roomInfo .roomPrice__btn {
        background-color: #069ec0;
        color: white;
        border: 0px;
        padding: 10px;
        width: 120px;
        cursor: pointer; }
      .containerRest .roomInfo .roomPrice__txtStyle {
        font-family: "Open Sans", sans-serif;
        text-align: center; }
      .containerRest .roomInfo .roomPrice .size {
        font-size: 12px; }
      .containerRest .roomInfo .roomPrice .sizebig {
        font-size: 1.7em; }

.containerCont {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 41px; }
  .containerCont .contentCont {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px; }
    .containerCont .contentCont .containerPar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px; }
      .containerCont .contentCont .containerPar .lefttxt {
        width: 50%;
        border-right: 1px dashed darkgrey;
        padding-right: 20px; }
      .containerCont .contentCont .containerPar .righttxt {
        display: flex;
        justify-content: space-between;
        width: 42%; }
        .containerCont .contentCont .containerPar .righttxt__address {
          border-right: 1px dashed darkgrey;
          padding-right: 20px; }
    .containerCont .contentCont .dots2 {
      border-top: 2px dotted darkgrey;
      margin-bottom: 40px; }
    .containerCont .contentCont .form--map {
      display: flex;
      justify-content: space-between; }
      .containerCont .contentCont .form--map form {
        display: flex;
        flex-direction: column;
        width: 400px; }
        .containerCont .contentCont .form--map form input {
          width: 100%;
          padding-top: 6px;
          padding-left: 3px;
          padding-bottom: 8px;
          margin-bottom: 10px;
          box-sizing: border-box;
          border: 0px; }
          .containerCont .contentCont .form--map form input:hover {
            background-color: #a6e5f8;
            transition: 0.3s ease-in-out; }
          .containerCont .contentCont .form--map form input:invalid {
            border: 1px solid red; }
        .containerCont .contentCont .form--map form .largeInput {
          padding-bottom: 100px;
          box-sizing: border-box; }
      .containerCont .contentCont .form--map .googlemap {
        width: 300px;
        height: 200px; }
    .containerCont .contentCont .subbtn {
      text-align: center; }
      .containerCont .contentCont .subbtn a {
        text-decoration: none; }
        .containerCont .contentCont .subbtn a span {
          font-family: "Niconne", cursive;
          font-size: 30px;
          color: black;
          opacity: 0.8; }
          .containerCont .contentCont .subbtn a span:hover {
            opacity: 1; }
    .containerCont .contentCont .nameFont {
      font-family: "Niconne", cursive;
      font-size: 40px;
      padding-top: 40px;
      padding-bottom: 20px;
      display: flex;
      align-items: baseline;
      justify-content: space-between; }
      .containerCont .contentCont .nameFont .dots1 {
        border-top: 2px dotted darkgrey;
        width: 83%; }

* {
  margin: 0px;
  padding: 0px; }

@-ms-viewport {
  width: device-width; }

