<footer class="containerFooter">
    <div class="containerInfo">
        <div class="info">
            <p class="style border">Call us to book</p>
            <p>1-800-000-0000</p>
        </div>
        <div class="info">
            <p class="style border1">Find us</p>
            <p>500 Terry Francois St.</p>
            <p>San Francisco</p>
        </div>
        <div class="info">
            <p class="style border2">Email us</p>
            <p>info@mysite.com</p>
        </div>
    </div>
    <picture>
        <img src="assets/images/facebook.svg" alt="fb">
        <img src="assets/images/mastercard.svg" alt="mc">
    </picture>
    <p class="end">©2023 by Ocean View. Proudly created with Wix.com</p>
</footer>