<div class="containerLogo">
                <div class="logo">
                    <a href="">
                        <p class="logo__font5">Ocean View</p>
                    </a>
                    <a href="">
                        <p class="font6">HOTEL</p>
                    </a>
                </div>
            </div>