<nav>
                    <ul>
                        <li>
                            <a href="index.html">Welcome</a>
                        </li>
                        <li>
                            <a href="theHotel.html">The Hotel</a>
                        </li>
                        <li>
                            <a href="">The Rooms</a>
                        </li>
                        <li>
                            <a href="">The Restaurant</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                    </ul>
                </nav>