<nav>
                    <ul>
                        <li>
                            <a href="index.html">Welcome</a>
                        </li>
                        <li>
                            <a href="theHotel.html">The Hotel</a>
                        </li>
                        <li>
                            <a href="theRooms.html">The Rooms</a>
                        </li>
                        <li>
                            <a href="restaurant.html">The Restaurant</a>
                        </li>
                        <li>
                            <a href="contacts.html">Contact</a>
                        </li>
                    </ul>
                </nav>